.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: black;
    background-color: white;
    border: .2vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
    }
    
    .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    }
    
    .OrderListItem.selected {
    border: 3px solid black;
    border-width: .2vmin;
    cursor: default;
    }
    
    .OrderListItem.selected:hover {
    color: red;
    border-width: .2vmin;
    }

    div{
        color: 3px solid black;
        font-size: 23px;
    }

    span{
        color: solid black;
    }