.Logo {
    height: 30vmin;
    width: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: whitesmoke;
    color: black;
    font-size: 7vmin;
    border: .4vmin solid black;
    }