.JewelryListItem {
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: white;
    border: .1vmin solid black;
    border-radius: 1vmin;
    font-size: 4vmin;
  }

  .JewlsPic {
    height: 110px;
  }
  
  .JewelryListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .JewelryListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: black;
  }
  
  .JewelryListItem .name {
    font-size: 2vw;
    text-align: center;
    color: black;
  }